input.input-clean { 
    border: none !important; 
    background-color: white !important;  
    color: #000000; 

} 

input:focus { 
    outline: none; 
}  

a.lock{
    pointer-events: none;
}

.img-anuncio{
    -webkit-box-shadow: 10px 10px 19px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 19px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 19px -6px rgba(0,0,0,0.75);
  }

  .frm-search{
    background-color: white;
    padding: 10px;
    margin:10px;
    border:1px solid black;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
  }

  
  .btn-custom{
    /*  background-color: #3e9f8f; */
    background-color: #3e9f8f;
    border: #3e9f8f;
    color: white;
}

  .btn-custom:hover{
      /* background-color: #db9600; */
      background-color: #2f7468;
      border:#2f7468;
      color: white;
  }

  .btn-custom:active{
    /* background-color: #db9600; */
    background-color: #2f7468;
    border:#2f7468;
    color: white;
}

  img.article-image-thumbnail{
    width:180px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.63);
    -moz-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.63);
    box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.63);
  }

  img.article-image-thumbnail2{
    width:90%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.63);
    -moz-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.63);
    box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.63);
  }

  img.article-image-thumbnail3{
    width:180px;
    height:180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.63);
    -moz-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.63);
    box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.63);
  }
  
  .section-form{

    background-color: #3e9f8f;
    text-align: center;
    width: 100%;
    color: white;
  }


  .bg-message{
    background-color: #0275d8;
  }

  .close-icon:hover{
    color: white;
  }